body {
  text-align: center;
  background-image: url('spaceBck.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.earth {
  float:left;
  width: 20%;
  height:20%;
  right: 5em;
  top: -2em;
  align-self: center;
  position: relative;
}

.moon {
  margin-top: 40em;
  margin-left:10%;
  width: 10%;
  height: 10%;
}


.stage {
  background-image: url('spaceBck.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.form{
  margin-top: 2.5em;
}
.form label{
  font-size: medium;
  color: white;
}
.form input{
  padding: .2em;
  border-radius: 10px;
}

.form .submit{
  padding: .25em;
  box-shadow: black 1px 1px 1px;
  border: orangered solid 1px;
  background-color: orangered;
  color: whitesmoke;
}
