body {
  text-align: center;
  background-image: url('spaceBck.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.earth {
  float:left;
  width: 20%;
  height:20%;
  right: 5em;
  top: -2em;
  align-self: center;
  position: relative;
}

.moon {
  margin-top: 40em;
  margin-left:10%;
  width: 10%;
  height: 10%;
}


.stage {
  background-image: url('spaceBck.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.launch {
  padding: 1em;
  background-color: yellowgreen;
  border-radius: 10px;
  position: relative;
  float: left
}